<head><%= stylesheet_link_tag 'style' %></head>
<body class="bodyBackground">
<h1>Culinary Chronicles</h1>
<p style="color: green"><%= notice %></p>
<div id="recipes">
  <% @recipes.each do |recipe| %>
    <div class ="recipeBorder">
      <%= render recipe %>
      <br>
      <%= link_to "Show this recipe", recipe_history_recipe_path(@recipe_history, recipe) %>
    </div>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_history_recipe_path %> |

<%= link_to "Back to Culinary Chronicles!", recipe_histories_path %>
<body>